*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

}


.double-line-bottom-theme-colored-2:after {
    border-radius: 8px;
    bottom: 1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 64px;
    background-color: red;
}
.double-line-bottom-theme-colored-2:before {
    border-radius: 8px;
    bottom: -1px;
    content: "";
    height: 6px;
    left: 10px;
    position: absolute;
    width: 24px;
    background-color: red;
}     
.double-line-bottom-theme-colored-2 {
    margin-bottom: 20px;
    margin-top: 8px;
    padding-bottom: 5px;
    position: relative;
}
.double-line-bottom-centered-theme-colored-2 {
    margin-bottom: 20px;
    margin-top: 8px;
    padding-bottom: 5px;
    position: relative;
}
.double-line-bottom-centered-theme-colored-2:before {
    border-radius: 8px;
    bottom: 0;
    content: "";
    height: 6px;
    bottom: -2px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    position: absolute;
    width: 24px;
    background-color: red;
}
.double-line-bottom-centered-theme-colored-2:after {
    border-radius: 8px;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    right: 0px;
    margin: 0 auto;
    position: absolute;
    width: 64px;
    background-color: red;
}
.list{
    list-style: none;
}

.target{
    animation: flowing 10s linear infinite;
    transform: translateX(100%);

  }
  
  @keyframes flowing {
    100% {
      transform: translateX(-100%);
    }
  }
  .service__faq {
    margin: 50px 20px 100px;
    border: 4px solid #c1af61;
    padding: 20px 40px;
  }
  
  .service__faq__wrapper {
    text-align: center;
  }
  
  .faq__wrapper__inner {
    padding-bottom: 20px;
  }
  
  .service__faq__wrapper__circle {
    color: #c1af61;
    font-size: 30px;
    font-family: MinionPro-Bold;
    background: #f2f1ec;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    line-height: 50px;
    position: relative;
    top: -45px;
  }
  
  .service__faq__wrapper__title {
    font-family: MinionPro-Bold;
    color: #c1af61;
    font-size: 36px;
    margin: 0px 0px 30px 0px;
    padding: 0 15px;
    text-align: center;
    position: relative;
  }
  
  .service__faq__q {
    font-family: 'proxima_nova_ltlight';
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .faq__first-letter {
    color: #c1af61;
    font-weight: 600;
  }
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 60px 100px;
    z-index: 999999;
  }

  header.sticky{
    padding: 8px 100px;
    background-color: rgb(58, 12, 10);
  }

  header .logo{
    position:relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;

  }
  header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li {
    position: relative;
    list-style: none;
  }
  header ul li a{
    position:relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(235, 8, 8);
    letter-spacing: 2px;
    transition: 0.6;

  }

  header.sticky .logo{
    color: rgb(255, 255, 255);
  }
  header ul{
    color: #a6a0a0;
    /* color: #051937; */
    /* background-color: rgba(255, 255, 255, 0.404); */
  }
  header.sticky ul{
    color: #ececec;
    padding: 2px 6px;
    background-color: rgba(255, 255, 255, 0);
  }
  header.sticky ul li{
    color: #ececec;
    padding: 2px 2px;
    background-color: rgba(238, 2, 2, 0);
  }
 
  /* header.sticky ul li:hover{
    color: #051937;
    padding: 3px 5px;
    background-color: rgb(207, 252, 9);
  } */
  header.sticky ul li a{
    color: rgb(235, 227, 227);
    font-size: 11px;
  }
  header.sticky ul li :hover{
    color: rgb(38, 3, 41);
    padding: 10px 6px;
    background-color: rgba(143, 219, 20, 0.849);
    border-radius: 6px;
  }
  header h3{
    color: #19103e;
  }
  header.sticky h3{
    font-size: 26px;
    color: rgb(255, 255, 255);
  }

  .myName {
    color: rgb(228, 179, 179);
    font-size: 22px;
    font-family: cursive;
  }
  .item1 {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 12px 18px;
    font-size: 20px;
    opacity: 0.8;
    box-shadow: 4px 8px 20px rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    overflow: hidden;
    height: 50px;
    transition: all 0.4s;
    margin: 16px 0;
  }
  
  .ye {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .img1 {
    width: 20px;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .active1 {
    height: 130px;
  }
  
  .act_img {
    transform: rotate(45deg);
  }
  
  @media screen and (max-width: 668px) {
    .item1 {
      font-size: 17px;
    }
  }
  
  @media screen and (max-width: 608px) {
    .item1 {
      font-size: 15px;
    }
  }

  .gradient11{
    background-image: linear-gradient(
    to right bottom,
    #051937,
    #181f36,
    #242636,
    #2e2d35,
    #353535
  );
  transition: background-color 0.3s;
  }

  /* swiper js code */

  .news-alerts {
    width: 100%;
    height: 300px;
    padding: 5px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ccc;
    font-family: "Archivo", sans-serif;
  }
  
  .news-alerts ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .news-alerts ul li {
    padding: 10px 0px;
  }
  
  .news-alerts ul li a {
    color: #000;
    text-decoration: none;
  }
  
  .news-alerts ul li a:hover {
    color: #333;
    text-decoration: underline;
  }

  .marquee-w {
    position: relative;
    display: block;
    width: 100%;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.marquee {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
}
.marquee span {
    display: inline-block;  
    padding-left: 100%;
    text-align: center;
    font-weight: 100;
    -webkit-text-stroke: 1px #f0d2d2;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    line-height: 25px;
    font-size: 20px;
    animation: marquee 10s linear infinite;
}
.marquee2 span {
    animation-delay: 3.5s;
}
.marquee3 span {
    animation-delay: 3.5s;
}
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
  .marquee-w-1 {
    position: relative;
    display: block;
    width: 100%;
    height: 24px;
    top: 50%;
    left: 50%;
    transform:translateY(-100%)
    overflow: hidden;
}
.marquee-1 {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
}
.marquee-1 span {
    display: inline-block;  
    padding-left: 100%;
    text-align: center;
    font-weight: 100;
    -webkit-text-stroke: 1px #f0d2d2;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    line-height: 25px;
    font-size: 20px;
    animation: marquee 10s linear infinite;
}
.marquee2-1 span {
    animation-delay: 3.5s;
}
.marquee3 span {
    animation-delay: 3.5s;
}
@keyframes marquee-1 {
    0% {
        transform: translateY(0, 0);
    }
    100% {
        transform: translateY(-100%);
    }
}

  
  
  
  
  